################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/v17/.suo
/.vs/Library/v17/.suo
/.vs/Library/v16/.suo
/.vs/Library/config
